body {
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

    /* BACKGROUND IMAGE */
    background-image: url("quiz-bg.jpg");
    background-size: cover;
    background-position: center;
}

.quiz-container {
    background: rgba(255,255,255,0.95);
    padding: 25px;
    border-radius: 12px;
    width: 400px;
    text-align: center;
}

button {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: none;
    background: #667eea;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #5a67d8;
}

/* CORRECT & WRONG COLORS */

.correct {
    background-color: green !important;
}

.wrong {
    background-color: red !important;
}

#nextBtn {
    background: orange;
}
