body{
    font-family: Arial, sans-serif;
    background-image:url("https://images.unsplash.com/photo-1508780709619-79562169bc64");
    background-size:cover;
    background-position:center;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.quiz-container{
    background:rgba(255,255,255,0.2);
    backdrop-filter:blur(10px);
    padding:30px;
    border-radius:15px;
    width:420px;
    box-shadow:0 8px 25px rgba(0,0,0,0.3);
}

h2{
    text-align:center;
    color:white;
}

button{
    width:100%;
    padding:12px;
    margin:8px 0;
    border:none;
    border-radius:8px;
    background:#4f6df5;
    color:white;
    font-size:16px;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    transform:scale(1.05);
}

.correct{
    background:#28a745 !important;
}

.wrong{
    background:#dc3545 !important;
}

#nextBtn{
    display:none;
    background:#ff9800;
}
